{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{{ block.super }} | Login
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
{% endblock %}

{% block login-panel %}
{% endblock %}

{% block content %}
<div class="container">
    <form class="login-form" method="post">
    {% csrf_token %}

    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <div class="input-container">
        <input class="submit-btn btn btn-lg btn-success" type="submit" value="Log In"></input>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>
</div>
{% endblock %}
