{% extends 'base_search.html' %}

{% load staticfiles %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/base_resource_list.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tablesorter.css' %}">
{% endblock %}

{% block sidebar %}
<ul class="list-unstyled">
{% for tag_type, value_list in tags.iteritems %}
    <li><strong>{{ tag_type }}</strong></li>
    <ul>
    {% for value in value_list %}
        <li><input type="checkbox" id="filter-{{ value|slugify }}" checked/> {{ value }}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
{% block sidebar-links %}
{% endblock %}

{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}

    <button class="btn-big" data-toggle="modal" data-target="#printModal">
        <span class='glyphicon glyphicon-print'></span> Print Selected Resources 
    </button>

    <!-- Modal -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Log Client Information</h4>
          </div>
              <div class="modal-body">
                {% csrf_token %}
                {% for field in print_form %}
                    <div class="field-wrapper">
                        {{ field.label_tag }} {{ field }} {{ field.errors }}
                    </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <span><input type="submit" class="btn btn-default btn-modal" value="Log Client" /></span>
                <span><button type="button" class="btn btn-default btn-modal" data-dismiss="modal">Close</button></span>
              </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% block listing_of_the_week %}
    {% endblock %}

    <h3>All Listings</h3>
    <table class="tablesorter" id="resource-table">
        <thead>
            <tr>
                <th></th>
                <th class="header">Name</th>
                <th class="header">Url</th>
                {% block table_head %}
                {% endblock %}
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resource_list %}
            <tr id="resource-{{ forloop.counter }}" filter-count={{ resource.tags.all|length }}>
                <td><input type="checkbox" name="resources" value="{{ resource.id }}"/></td>
                <td><a href="{% block resource_detail_url %}{% endblock %} ">{{ resource.name }}</a></td>
                <td><a href="{{ resource.url }}">{{ resource.url|default:"-" }}</a></td>
                {% block table_body %}
                {% endblock %}
                <td>
                    {% for tag in resource.tags.all %}
                        <span class="resource-tag tag-{{ tag.value|slugify }}">{{ tag.value }}</span>
                    {% empty %}
                    -
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block scripts %}
{% include 'base_resource_list_tag_js.html' %}
{% endblock %}
