<h1 class="resource-name">{{ resource.name }}</h1>
<div class="row">
    <div class="col-md-6">

        <p class="resource-description">{{ resource.description|safe }}</p>
        <div class="resource-address">
            <h3>Address</h3>
            <p>
                {{ resource.street_address }}</br>
                {{ resource.city }} {{ resource.zipcode }}
            </p>
        </div>

        <div class="resource-contact">
            <h3>Contact</h3>
            <p><a href="{{ resource.url }}">{{ resource.url }}</a></br></p>
            <p>{{ resource.phone }}</p>
        </div>

        <div class="resource-tags">
            <h3>Tags</h3>
            <ul>
            {% for tag in resource.tags.all %}
                <li>{{ tag.value }}</li>
            {% empty %}
            No tags given to this resource.
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-6">        
        <div class="map">
            {{ form.map }}
            {{ form.media.js }}
        </div>
    </div>
</div>





<script type="text/javascript">
    window.myobj = {
        markerOver: function() { this.openInfoWindow(); },
        markerOut: function() { this.closeInfoWindow(); }
    };
</script>
