{% extends 'base.html' %}

{% load staticfiles %}


{% block head %}
<link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/base_resource_print.js"></script>
{% endblock %}

{% block title %}
Print
{% endblock %}

{% block content %}
<div class="container">
	<div class="row ">
        <div class="col-md-12">
        	{% block body %}
        	<div id="printable-area">
	        {% include 'base_resource_detail_list.html' %}
	        <input type="button" onclick="printDiv('printable-area')" value="Print" />
	        </div>
	        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
