{% extends 'base_search.html' %}

{% block title %}
{{ block.super }} | Print
{% endblock %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{{ STATIC_URL }}js/base_resource_print.js"></script>
{% endblock %}

{% block content %}
<div id="printable-area">
{% include 'base_resource_detail_list.html' %}
</div>

<form method="post">
    {% csrf_token %}
    {% for field in print_form %}
        <div class="field-wrapper">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
    {% endfor %}
    <input type="submit" value="Log Client" />
    <input type="button" onclick="printDiv('printable-area')" value="Print" />
</form>
{% endblock %}
