{% extends 'base_resource_list.html' %}

{% block navbar-community %}{% endblock %}

{% block title %}
{{ block.super }} | Community
{% endblock %}

{% block sidebar-links %}
{{block.super}}
Useful Information
<br>
<a href="{% url 'search:community_mental' %}">Mental Resource</a>
<br>
<a href="{% url 'search:community_dental' %}">Dental Resource</a>
<br>
<a href="{% url 'search:community_medical' %}">Medical Resource</a>
{% endblock %}

{% block resource_detail_url %}
{% url 'search:community_detail' pk=resource.pk slug=resource.name|slugify %}
{% endblock %}
