{% extends 'base_resource_list.html' %}

{% block navbar-community %}{% endblock %}

{% block title %}
{{ block.super }} | Community
{% endblock %}

{% block sidebar %}
{{block.super}}
<h3>Useful Information</h3>
<ul>
	<li><a href="{% url 'search:community_mental' %}">Mental Resource</a></li>
	<li><a href="{% url 'search:community_dental' %}">Dental Resource</a></li>
	<li><a href="{% url 'search:community_medical' %}">Medical Resource</a></li>
</ul>
{% endblock %}

{% block resource_detail_url %}
{% url 'search:community_detail' pk=resource.pk slug=resource.name|slugify %}
{% endblock %}
