{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/review_form.css' %}">
<script src="{% static 'js/bootstrap-rating-input.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Submit Reviews
{% endblock %}

{% block content %}

{% block navbar-reviews %}
{% endblock %}

<div class="container">
    <div id="form-container">
        <div class="form-description">
            <h2>Tell us what you think!</h2>
            <p> The Suitcase Clinic would love to hear feedback from you to further improve the services it offers. </p>
        </div>
        <!--  html now works by review_formset, creates 1 form / service in views.py -->
        <div class="review-form">
            <form method="post" action="" class="pure-form pure-form-aligned">
                {% csrf_token %}
                    <div class="pure-control-group"> 
                        <h3>Service:</h3>    
                        {{ reviewform.service }}    
                        {{ reviewform.service.errors}}      
                    </div>

                    <div class="pure-control-group stars"> 
                        <h3>Rating:</h3>     <!-- {{ reviewform.rating }}  -->    
                        {{ reviewform.rating.errors}} <!-- </div> -->  
                        <input type="number" data-clearable="remove" class="rating" id="star-rating" name="rating">
                    </div>

                    <div class="pure-control-group"> 
                        <h3>Comments:</h3>   
                        {{ reviewform.comments }}   
                        {{ reviewform.comments.errors}}     
                    </div>

                    <div class="pure-control-group"> 
                        <h3>Reviewed by (optional):</h3>   
                        {{ reviewform.reviewer }}   
                        {{ reviewform.reviewer.errors}}     
                    </div>
                <input id="submit-btn" class="btn btn-success btn-lg" type="submit" value="submit"></input>
            </form>
        </div>
    </div>
</div>
{% endblock %}