{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery.mixitup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">

    <title>Read Reviews</title>
{% endblock %}

{% block content %}

<!-- Show reviews if access is enabled for users -->
{% if review_access_enabled %}

{% block navbar-reviews %}
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-success" href="/reviews/submit">Add a review!</a>
        </div>

        <div class="col-md-8">
            <ul class="sort-params list-inline">
                <li class="sort-param">
                    <a data-sort="data-date" data-order="asc" class="sort active" href="javascript:;">Newest</a>
                </li>
                <li class="sort-param">
                    <a data-sort="data-date" data-order="desc" class="sort" href="javascript:;">Oldest</a>
                </li>
                <li class="sort-param">
                    <a data-sort="data-rating" data-order="asc" class="sort" href="javascript:;">Highest Review</a>
                </li>
                <li class="sort-param">
                    <a data-sort="data-rating" data-order="desc" class="sort" href="javascript:;">Lowest Review</a>
                </li>
            </ul>
            <div id="average_rating">
                <p class="average" id="Housing_Average">Average Rating for Housing: {{housing_stars|safe}}</p>
                <p class="average" id="Employment_Average">Average Rating for Employment: {{employment_stars|safe}}</p>
                <p class="average" id="Community_Average">Average Rating for Community Resources: {{community_stars|safe}}</p>
                <p class="average" id="Legal_Average">Average Rating for Legal: {{legal_stars|safe}}</p>
                <p class="average" id="Dental_Average">Average Rating for Dental: {{dental_stars|safe}}</p>
                <p class="average" id="Optometry_Average">Average Rating for Optometry: {{optometry_stars|safe}}</p>
                <p class="average" id="Medical_Average">Average Rating for Medical: {{medical_stars|safe}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><button type="button" class="filter btn btn-big" id="all-filter" data-filter="all">Show All</button></li>
                <li><button type="button" class="filter btn btn-big" id="housing-filter" data-filter="Housing">Housing</button></li>
                <li><button type="button" class="filter btn btn-big" id="employment-filter" data-filter="Employment">Employment</button></li>
                <li><button type="button" class="filter btn btn-big" id="community-filter" data-filter="Community Resources">Community Resources</button></li>
                <li><button type="button" class="filter btn btn-big" id="legal-filter" data-filter="Legal">Legal</button></li>
                <li><button type="button" class="filter btn btn-big" id="dental-filter" data-filter="Dental">Dental</button></li>
                <li><button type="button" class="filter btn btn-big" id="optometry-filter" data-filter="Optometry">Optometry</button></li>
                <li><button type="button" class="filter btn btn-big" id="medical-filter" data-filter="Medical">Medical</button></li>
            </ul>
        </div>

        <div class="col-md-8 review-container">
            <ul class="list-unstyled pre-scrollable" id="Grid">
                {% for review in review_list %}
                <li class="mix {{ review.service }} mix_all review" data-rating="{{ review.rating }}" data-date="{{ review.date|date:"YmdHi" }}" >
                    <div class="review-content">
                        <h3 class="review_service">{{ review.service }}</h3>
                        <p class="review_date">{{ review.date|date:"SHORT_DATE_FORMAT" }}</p>
                        <p class="stars">{{ review.render_stars|safe }}</p>
                        <p class="rating">{{ review.rating }}</p>
                        <p class="review_comments">{{ review.comments }}</p>
                        <p class="reviewer">Reviewed by: {{ review.reviewer }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> <!-- end container -->
{% else %}
<div class="container">
    <div class="move-down">
        <div class="col-md-4">
             <a class="btn btn-success" href="/reviews/submit">Add a review!</a>
        </div>
    </div>
    <div class="move-down">
         <div class="unabled-message">
             Sorry! Reviews are currently not available to public.
         </div>
    </div>
</div>
{% endif %}

{% endblock %}
