.body-container{
    padding-bottom: 15px;
}

.container {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    padding-top: 30px;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
}

.login-form table {
  margin-left: auto;
  margin-right: auto;
}

.login-form table td {
    padding: 5px;
}

.login-form input {
  margin-left: auto;
  margin-right: auto;
}

.input-container {
    text-align: center;
    padding-bottom: 30px;
}

.submit-btn {
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    font-family: 'Yanone Kaffeesatz';
    width: 230px;
}
