.content, .container {
    height: 100%;
    position: relative;
}

#content-container {
    padding-bottom: 45px;
    margin: 0;
    margin-bottom: 30px;
    background-color: #fde7d0;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    height: 100%;
}


#sidebar-container {
    margin-top: 10px;
}

#sidebar-container .resource-sort ul {
    list-style: none;
    padding-left: 15px;
}

#sidebar-container .resource-sort ul li {
    list-style: none;
}

#body-container {
    overflow: auto;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    right: 0;
    height: 100%;
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 100%;
    line-height: 0;
}

#resource-otw-table {
    width: 100%;
}

#resource-table {
    width: 100%;
}

.batch-resource-area {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.resource-tag {
    padding: 3px;
    border:1px solid;
    border-radius:10px;
    border-color: #243e93;
    background-color: #b5c2ed
}

.modal-footer {
    text-align: center;
}

.btn {
    display: block;
    width: auto;
    height: 40px;
    border-radius: 0px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 3px;
}

.btn-big {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;
}

.btn-big:hover,
.btn-big:focus,
.btn-big:active,
.btn-big.active {
    background-color: white;
    color: black;
    border-color: #2e2f2f;
}

.btn-modal {
    display: inline;
}

.map {
    margin-bottom: 30px;
}

.resource-left {
    width: auto;
    float: left;
    height: 100%;
}

.resource-detail-container {
    padding-left: 40px;
    padding-right: 40px;
}

#printable-area {
    width:100%;
    height:100%;
}