html, body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    position: relative;
    height: 100%;
}

.content, .container {
    height: 100%;
    position: relative;
}

#content-container {
    padding-bottom: 45px;
    margin: 0;
    margin-bottom: 30px;
	background-color: #fde7d0;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
    height: 100%;
}


#sidebar-container {
    float: left;
	padding: 15px;
    margin: 15px;
	background-color: #ffffff;
    height: 100%;
}

#body-container {
    overflow: auto;
	padding: 15px;
    margin: 15px;
	background-color: #ffffff;
    right: 0;
    height: 100%;
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 100%;
    line-height: 0;
}
