.glyphicon-star, .glyphicon-star-empty {
	color: #de1f26;
	font-size: 5em;
}

.glyphicon-remove {
	font-size: 3em;
}

.container {
}

#star-rating {

}

.container {
	text-align: center;
}

.btn-success {
	margin: 20px 10px;
}

.pure-control-group .stars {
	text-align: left;
}