{% extends 'base.html' %}

{% load staticfiles %}

{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block head %}
<link href="{% static 'css/error.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container container-home">
	<div class="row">
        <img class="displayed" src="{% static 'css/images/error.png' %}" height="300px" width="400px"></img>
		<p class="bolded">
			SORRY
		</p>
		<p class="content1">
			The server is down right now.
		</p>
		<br>
		<p class="content2">
			Please try again later.
		</p>
	</div>
</div><!-- /.container --> 
{% endblock %}
