<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <title>{% block title %}Suitcase Clinic{% endblock %}</title>

    <meta charset="utf-8">
    {% block meta %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header">
        {% block header %}
        {% endblock %}
        </div>

        <div class="content">
        {% block content %}
        {% endblock %}
        </div>

        <div class="footer">
        {% block footer %}
        {% endblock %}
        </div>

    </div>

    {% block scripts %}
    {% endblock %}
</body>

</html>
