<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <title>{% block title %}Suitcase Clinic{% endblock %}</title>

    <meta charset="utf-8">
    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bpsc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reviews.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header-stuff">
            <div class="logo">
                <img src="{% static 'css/images/SuitcaseLogo.png' %}">
            </div>

            <nav class="navbar navbar-static-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">Test1</span>
                    <span class="icon-bar">Test2</span>
                    <span class="icon-bar">Test3</span>
                  </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">RESOURCES</a></li>
                    <li class="hiddentab"><a href="/reviews/reviews">REVIEWS</a></li>
                    <li class="hiddentab"><a href="{% url 'contact' %}">CONTACT</a></li>
                  </ul>
                </div>
              </div>
            </nav>

        {% block header %}
        {% endblock %}

        </div>

        <div class="body-container">
            {% block messages %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endblock %}


            {% block content %}
            {% endblock %}
        </div>

        <div class="footer-container">
            {% block footer %}
            {% endblock %}
        </div>

    </div>

    {% block scripts %}
    {% endblock %}
</body>

</html>
