{% extends 'base.html' %}

{% load staticfiles %}

{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block head %}
<!-- Bootstrap core CSS -->
<!-- Add custom CSS here -->
{% endblock %}

{% block content %}
<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">Test1</span>
        <span class="icon-bar">Test2</span>
        <span class="icon-bar">Test3</span>
      </button>
<!-- <a class="navbar-brand">BPSC Home Page</a> -->
    </div>
<!-- <div class="container"> <a href="#"><img class = "brand" src="http://placehold.it/269x50" alt="SparkCharger" /></a> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="hiddentab"><a href="{% url 'home' %}">RESOURCES</a></li>
        <li class="hiddentab"><a href="{% url 'survey' %}">REVIEWS</a></li>
        <li><a href="{% url 'contact' %}">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="container">

  <div class="row section">
    <div class="col-lg-12">
      <h1>Contact Page</h1>

      <p>We can have additional inforation about BPSC here</p>
      <ul>
        <li>Blah</li>
        <li>Blah</li>

        <p> <a href="/">Go back to home!</a> </p>

      </ul>
    </div>
  </div>

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Company 2013 &middot; Facebook &middot; Twitter &middot; Google+</p>
      </div>
    </div>
  </footer>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Make sure to add jQuery - download the most recent version at http://jquery.com/ -->
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src=""http://www.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css""></script>
<!-- </body> -->
{% endblock %}

