{% extends 'base.html' %}

{% load staticfiles %}

{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block head %}
<!-- Bootstrap core CSS -->
<!-- Add custom CSS here -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}
{% block content %}

<div class="container container-home">
  <div class="welcome">
    <div class="row">
      <h1 id="big-welcome">WELCOME</h1>
      <p>TO THE SUITCASE CLINIC PORTAL</p>
      <div class="redline"></div>
      <p>NAVIGATE YOUR WAY THROUGH THE TABS AT THE TOP OF THE PAGE</p>
    </div>
  </div>

  <div class="tab-descriptions">
    <div class="tab-box">
      <div class="box-name">
        <p>EMPLOYMENT</p>
      </div>

      <div class="box-image"></div>

      <div class="box-description">
        <p>JOB SEARCH DATABASE, WITH LATEST LISTINGS</p>
      </div>
    </div>
    <div class="tab-box">
      <div class="box-name">
        <p>EMPLOYMENT</p>
      </div>

      <div class="box-image"></div>

      <div class="box-description">
        <p>JOB SEARCH DATABASE, WITH LATEST LISTINGS</p>
      </div>
    </div>
    <div class="tab-box">
      <div class="box-name">
        <p>EMPLOYMENT</p>
      </div>

      <div class="box-image"></div>

      <div class="box-description">
        <p>JOB SEARCH DATABASE, WITH LATEST LISTINGS</p>
      </div>
    </div>
    <div class="tab-box">
      <div class="box-name">
        <p>EMPLOYMENT</p>
      </div>

      <div class="box-image"></div>

      <div class="box-description">
        <p>JOB SEARCH DATABASE, WITH LATEST LISTINGS</p>
      </div>
    </div>
    <div class="tab-box">
      <div class="box-name">
        <p>EMPLOYMENT</p>
      </div>

      <div class="box-image"></div>

      <div class="box-description">
        <p>JOB SEARCH DATABASE, WITH LATEST LISTINGS</p>
      </div>
    </div>
</div>
  {% endblock %}
