{% extends 'base.html' %}

<!-- <DOCTYPE html> -->
<!-- <html lang="en"> -->
  <!-- <head> -->
    {% load staticfiles %}
    {% block head %} 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> BPSC </title>
    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bpsc.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Add custom CSS here -->

  <!-- </head> -->

  <!-- <body> -->
    <!-- TEST -->
  {% block content %}
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">Test1</span>
            <span class="icon-bar">Test2</span>
            <span class="icon-bar">Test3</span>
          </button>
    <!-- <a class="navbar-brand">BPSC Home Page</a> -->
        </div>
<!-- <div class="container"> <a href="#"><img class = "brand" src="http://placehold.it/269x50" alt="SparkCharger" /></a> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="hiddentab"><a href="{% url 'home' %}">RESOURCES</a></li>
            <li><a href="{% url 'survey' %}">REVIEWS</a></li>
            <li class="hiddentab"><a href="{% url 'contact' %}">CONTACT</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    

    <div class="container">

      <div class="row section">
        <div class="col-lg-12">
          <h1 id="header">Reviews Page</h1>
          <p>We can have additional inforation about BPSC here</p>
          <ul>
            <li>Blah</li>
            <li>Blah</li>
            <li><a href="/reviews/">See the review app!</a> </li>
            <p> <a href="/">Go back to home!</a> </p>


            <!-- Vincent Testing stuff -->
            <!-- <input type="button" onclick="EditMode()" value="Edit"> -->

          </ul>
        </div>
      </div>

      <hr>
      
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013 &middot; Facebook &middot; Twitter &middot; Google+</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Make sure to add jQuery - download the most recent version at http://jquery.com/ -->
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src=""http://www.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css""></script>
  <!-- </body> -->
  {% endblock %}
</html>

