#Grid .mix{
    opacity: 0;
    display: none;
 }

li.review {
	padding: 18px 0 14px;
	border-bottom: 1px solid #d7d7d7;
	/*height: 99px;*/
	width: 100%;
	/*line-height: 99px;*/
	vertical-align: top;
	font-weight: 300;
}

.btn {
	margin-top: 10px;
	padding-bottom: 10px;
}